$(document).ready(function () {
  $('.messages').append('<div class="alert alert-succes">Food added to Order </div>'); 
 $("#basket").empty().append("<%= escape_javascript(render partial: 'basket' ) %>"); 
    
setTimeout(function(){
   
      $('.messages').empty();
}, 2000);
   
});