<div class="center hero-unit">
  <h1>Welcome to the Lunch Ordering</h1>

  <h2>
    Sign up and do your order
  </h2>

  <%= link_to "Sign up now!", root_path, class: "btn btn-large btn-primary" %>
</div>

