<% provide(:title, @food.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @food.name %>
        <br>
        <%= @food.email %>
      </h1>
    </section>
  </aside>
</div>