@import "bootstrap";


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
$grayMediumLight: #eaeaea;



html {
  overflow-y: scroll;
}

body {
  padding-top:100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}   

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
.today
{
 margin:0;
     text-align: center;
}
.ul_today
{
    text-align: center;
    margin:0;
        
    li {
    list-style-type: none; 
   }
}
.new_food_but
{
    
    text-align: center;
}
.to_order_form
{
 margin:0;   
}
.ation_span
{
 text-align: center
}
#basket
{
  border: 2px solid;
  position: fixed;
  background-color: #FAFAF4;
  margin-top: -60px;
   visibility: hidden;
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#hide_basket
{
    position: absolute;
}
#open_basket 
{
    position: fixed;
  background-color: #FAFAF4;
 margin-top:-60px;  
    right:2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dashboard {
    text-align: center;
    
.weekday
{   
  position: relative;
    float: left;
  width: 10em;
  border: 1px double;
  border-radius: 2px;
  /* align-items: center; */
  background-color: #E9F5EF;
  height: 3em;
  
    .weekday_title
    {
        vertical-align: middle;
         text-align: center;
          
    }
}:hover 
    {
      background-color:  #B7F5D4;
        color:black;
    }
}


.form_search
{
    #search{
            width:10em; 
    }
    .date_info
    {
     float:left;
    }
}
.orders_ul
{
    li {
    list-style-type: none; 
   }
}

.order_info
{
 margin:0;   
}
.order_info_margin
{
 margin-left:1.4em;   
}

.order_info_last
{
 margin-left:3.6em;   
}

.food_heads
{
 margin-left:-2.2em;   
}
.heads
{
 border-bottom: 2px solid;
}
.order_p
{
     border-bottom: 1px solid;
}